<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
        <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">

            <div
                class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Loader -->
                    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight">Question management</div>
                    <!-- Actions -->
                    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 gap-3">
                        <button mat-raised-button [color]="'primary'" (click)="openCreateQuestionDialog()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        </button>
                        <!-- Search -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                            <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                            <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                                [placeholder]="'Tìm kiếm'">
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(questions$ | async) as questions">
                        <div class="grid">
                            <!-- Header -->
                            <div class="question-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear>
                                <div class="hidden sm:block">
                                    Image
                                </div>
                                <div class="hidden sm:block">
                                    Title
                                </div>
                                <div class="hidden sm:block">
                                    Answer A
                                </div>
                                <div class="hidden sm:block">
                                    Answer B
                                </div>
                                <div class="hidden sm:block">
                                    Answer C
                                </div>
                                <div class="hidden sm:block">
                                    Answer D
                                </div>
                                <div class="hidden sm:block">Action</div>
                            </div>
                            <!-- Rows -->
                            <ng-container *ngIf="questions.length > 0; else noQuestions">
                                <ng-container *ngIf="(questions$ | async) as questions">
                                    <ng-container *ngFor="let question of questions">
                                        <div class="question-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                            <!-- Thumbnail -->
                                            <div class="flex items-center">
                                                <div
                                                    class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                                    <img class="w-8" *ngIf="question.imageUrl" [alt]="'Ảnh'"
                                                        [src]="question.imageUrl">
                                                    <div class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                                        *ngIf="!question.imageUrl">
                                                        THUMB
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Name -->
                                            <div class="truncate">
                                                {{question.title}}
                                            </div>

                                            <!-- Code -->
                                            <div class="hidden sm:block">
                                                {{question.answerA}}
                                            </div>

                                            <!-- Code -->
                                            <div class="hidden sm:block">
                                                {{question.answerB}}
                                            </div>

                                            <!-- Code -->
                                            <div class="hidden sm:block">
                                                {{question.answerC}}
                                            </div>

                                            <!-- Code -->
                                            <div class="hidden sm:block">
                                                {{question.answerD}}
                                            </div>

                                            <!-- Action -->
                                            <div class="hidden sm:block">
                                                <span (click)="openQuestionDetail(question.id)">
                                                    <mat-icon class="text-blue-700 icon-size-6 cursor-pointer"
                                                        [svgIcon]="'heroicons_outline:pencil-square'"></mat-icon>
                                                </span>
                                            </div>

                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>

                        </div>

                        <mat-paginator
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.totalRow"
                            [pageIndex]="pagination.pageNumber" [pageSize]="pagination.pageSize"
                            [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>

                    </ng-container>

                    <ng-template #noQuestions>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Record not
                            found!
                        </div>
                    </ng-template>

                </div>

            </div>
        </div>
    </div>
</div>