<div class="py-6">
    <!-- Breadcrumbs -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center space-x-2 text-gray-400 text-sm">
            <p>{{ plant.name }}</p>
            <span>
                <svg class="h-5 w-5 leading-none text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </span>
        </div>
    </div>
    <!-- ./ Breadcrumbs -->

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
        <div class="flex flex-col md:flex-row -mx-4">
            <div class="md:flex-1 px-4" *ngIf="plant.images && plant.images.length > 0">
                <div class="h-64 md:h-80 rounded-lg bg-gray-100 mb-4">
                    <img [src]="thumbnailUrl" class="h-64 md:h-80 rounded-lg object-cover" alt="">
                </div>
                <div class="flex justify-between gap-2 w-full">
                    <ng-container *ngFor="let thumbnail of plant.images">
                        <div class="h-10 md:h-20 rounded-lg bg-gray-100 mb-4 w-full cursor-pointer"
                            (click)="setThumbnail(thumbnail.url)">
                            <img [src]="thumbnail.url" class="h-10 md:h-20 rounded-lg object-cover" alt="">
                        </div>
                    </ng-container>

                </div>
            </div>
            <div class="md:flex-1 px-4 max-h-180 overflow-y-scroll">
                <div>
                    <h2 class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl">{{
                        plant.name }}</h2>
                </div>

                <div>
                    <div class="font-bold">Description</div>
                    <p class="text-gray-500" [innerHTML]="plant.description">
                    </p>
                </div>

                <div>
                    <div class="font-bold">Science Name</div>
                    <p class="text-gray-500">
                        {{ plant.scienceName || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Genus</div>
                    <p class="text-gray-500">
                        {{ plant.genus || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Species</div>
                    <p class="text-gray-500">
                        {{ plant.species || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Living Condition</div>
                    <p class="text-gray-500">
                        {{ plant.livingCondition || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Distribution Area</div>
                    <p class="text-gray-500">
                        {{ plant.distributionArea || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">PH</div>
                    <p class="text-gray-500">
                        {{ plant.ph || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Uses</div>
                    <p class="text-gray-500">
                        {{ plant.uses || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Fruit Time</div>
                    <p class="text-gray-500">
                        {{ plant.fruitTime || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Conservation Status</div>
                    <p class="text-gray-500">
                        {{ plant.conservationStatus || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Size</div>
                    <p class="text-gray-500">
                        {{ plant.size || 'Chưa có thông tin' }}
                    </p>
                </div>
                <div>
                    <div class="font-bold">Discoverer</div>
                    <p class="text-gray-500">
                        {{ plant.discoverer || 'Chưa có thông tin' }}
                    </p>
                </div>


            </div>
        </div>
    </div>
</div>